$color-primary: hsl(242, 50%, 7%);
$color-background: hsl(242, 50%, 5%);
$color-secondary: hsl(242, 50%, 90%);
$color-text: hsl(242, 0%, 90%);
$color-text-h2: hsl(242, 0%, 80%);
$color-tertiary: hsl(302, 80%, 80%);
$color-accent: hsl(177, 51%, 67%);
$color-accent-lower: hsl(177, 51%, 27%);
